.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     padding: 30px 10px 16px 16px;
     min-width: 500px;
     border-radius: 25px;
     display: flex;
   }
   .container1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     padding: 6px 32px;
     min-width: 500px;
     margin: 25px;
     border-radius: 5px;
   }
   .container2 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
     padding: 20px 50px;
     min-width: 500px;
   }

   .search-container{
    display: flex;
    margin: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px 30px;

   }
   .search-label{
    font-size: 18px;
    padding-top: 10px;

   }
   select{
    padding:0 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    color: #333;
    width: 200px;
    margin: 0 10px;
padding: 10px;

   }
   select:hover{
    border-color: #999;
   }
   select:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
   }

   .search-button{
    justify-content: flex-end;
   }

   button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #93e9be;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroung-color 0.3s ease, transform 0.2s ease;
    margin-left: 150px;
   }

   button:hover{
    transform: scale(0.95);
   }
   button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
   }

  .time-input{
    padding: 8px;
    font-size: 18px;
    border:1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 150px;
    margin-left: 15px;
  } 

  .time-input:hover{
    border-color: #999;
  }

.time-input:focus{
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123, 255,0.5);
}

.search-result{
    margin: 10px;
    display: flex;
}
.search-card{
    width:100%;
    transition: backgroung-color 0.5s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 9px;
    height: 80px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    margin:1px 20px;
}

.search-card-from-to{
    padding: 0 10px;
    font-size: 20px;
}
.search-result .buttonn{
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #93e9be;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroung-color 0.3s ease, transform 0.2s ease;
    margin-left: 150px;
    
}

.footer1{
    left: 0;
    bottom: 0;
     width: 100%;
    background-color:#93E9BE;
    color: white;
    text-align: center;
    position: fixed;
}
